@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@keyframes target {
  0% {
    box-shadow: 0 0 0 #22caff; }
  50% {
    box-shadow: 0 0 10px #22caff; }
  100% {
    box-shadow: 0 0 1px #22caff; } }
#unit-frame-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 350px; }
#unit-frame-box * {
  box-sizing: border-box; }
#unit-frame-box .move-handle {
  position: absolute;
  top: -18px;
  left: 4px;
  color: #ffffff88; }

/* ---------------- DEFAULT SKIN ---------------- */
#unit-frame-box.default .unit-frame {
  flex: 0 1 40px;
  height: 50px;
  width: 200px;
  margin: 2px;
  position: relative; }

  #unit-frame-box.default .unit-frame .charnameframe{
    position:relative;
    width:200px;
    top:0px;
    left:0px;
    color: white;
    background-color: rgb(0,0,0,0.5);
    text-align: center;
    z-index: 99;
  }

#unit-frame-box.default .unit-frame .charname{
  position:relative;
  width:155px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  z-index: 100;
}

#unit-frame-box.default .unit-frame .primary {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: rgb(0,0,0,0.5);
  }

#unit-frame-box.default .unit-frame .primary .bar {
  position: relative;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  background: rgb(5,101,27);
  background: linear-gradient(0deg, rgba(5,101,27,1) 0%, rgba(0,199,47,1) 35%, rgba(5,101,27,1) 100%);   
}

#unit-frame-box.default .unit-frame .secondary {
  position: relative;
  width: 100%;
  height: 12px; 
  background-color: rgb(0,0,0,0.5);
}

#unit-frame-box.default .unit-frame .secondary .bar {
  position: relative;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  background: rgb(9,9,121);
  background: linear-gradient(0deg, rgba(9,9,121,1) 0%, rgba(0,88,248,1) 35%, rgba(9,9,121,1) 100%);
    }

#unit-frame-box.default .unit-frame .secondary .secondaryValue {
  color: #fff;
  text-shadow: 1px 1px 4px #000;
  font-family: Roboto, Signika, sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
  z-index: 10; }

#unit-frame-box.default .unit-frame .primaryValue {
    color: #fff;
    text-shadow: 1px 1px 4px #000;
    font-family: Roboto, Signika, sans-serif;
    font-size: 16px;
    letter-spacing: 2px; 
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
    z-index: 10; }

#unit-frame-box.default .unit-frame .charimage{
  display:none;
}
#unit-frame-box.default .unit-frame .charframe{
  display:none;
}
#unit-frame-box.default .unit-frame .charlevel{
  display: none;
}

/* ---------------- Icon SKIN ---------------- */
#unit-frame-box.icon .unit-frame {
  flex: 0 1 40px;
  width: 206px;
  height: 50px;
  margin: 2px;
  position: relative; }

#unit-frame-box.icon .unit-frame .charnameframe{
  position:relative;
  width:155px;
  top:-46px;
  left:52px;
  color: white;
  background-color: rgb(0,0,0,0.5);
  text-align: center;
  z-index: 99;
}

#unit-frame-box.icon .unit-frame .charname{
  position:relative;
  width:155px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  z-index: 100;
}

#unit-frame-box.icon .unit-frame .primary {
  position: relative;
  width: 156px;
  height: 15px;
  top:-45px;
  left:50px;
  background-color: rgb(0,0,0,0.5);
}

#unit-frame-box.icon .unit-frame .primary .bar {
  position: relative;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  background: rgb(5,101,27);
  background: linear-gradient(0deg, rgba(5,101,27,1) 0%, rgba(0,199,47,1) 35%, rgba(5,101,27,1) 100%);  
}

#unit-frame-box.icon .unit-frame .primaryValue {
  color: #fff;
  text-shadow: 1px 1px 4px #000;
  font-family: Roboto, Signika, sans-serif;
  font-size: 14px;
  letter-spacing: 2px; 
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
  z-index: 100; }

#unit-frame-box.icon .unit-frame .secondary {
  position: relative;
  width: 156px;
  height: 12px;
  top:-45px;
  left:50px; 
  background-color: rgb(0,0,0,0.5);
}

#unit-frame-box.icon .unit-frame .secondary .bar {
  position: relative;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  background-color: rgb(9,9,121);
  background: linear-gradient(0deg, rgba(9,9,121,1) 0%, rgba(0,88,248,1) 35%, rgba(9,9,121,1) 100%);
    }
#unit-frame-box.icon .unit-frame .secondary .secondaryValue {
  color: #fff;
  text-shadow: 1px 1px 4px #000;
  font-family: Roboto, Signika, sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
  z-index: 100; }

#unit-frame-box.icon .unit-frame .charimage{
  position:relative;
  display:block;
  border-width: 0px;
  border-radius: 50%;
  width: 50px;
  z-index:98;
  background-color: rgb(0,0,0,0.5);
}
#unit-frame-box.icon .unit-frame .charframe{
  position:absolute;
  display:block;
  top: 0px;
  background-image: url(../icons/charframe.webp);
  height:50px;
  width:210px;
  border-width: 0px;
  z-index:99;
} 
#unit-frame-box.icon .unit-frame .charlevel{
  display:none;
}
/* ---------------- Warcraft SKIN ---------------- */
#unit-frame-box.warcraft{
  height:500px;
}
#unit-frame-box.warcraft .unit-frame {
  flex: 0 1 40px;
  width: 206px;
  height: 80px;
  margin: 2px;
  position: relative; }

#unit-frame-box.warcraft .unit-frame .charnameframe{
  position:relative;
  width:190px;
  top:-90px;
  left:45px;
  color: white;
  text-align: left;
  z-index: 97;
}

#unit-frame-box.warcraft .unit-frame .charnameframe:after{
  content: '';
  width: 100%;
  height: 100%;
  left: 10px;
  position: absolute;
  background-color: rgb(0,0,0,0.5);
  transform-origin: right top;
  transform: skewX(-45deg);
}

#unit-frame-box.warcraft .unit-frame .charname{
  position:relative;
  width:155px;
  left:30px;
  color: #e3c36d;
  text-transform: capitalize;
  font-size: 18px;
  z-index: 100;
}

#unit-frame-box.warcraft .unit-frame .primary {
  position: relative;
  width: 130px;
  height: 30px;
  top:-88px;
  left:76px;
  background-color: rgb(0,0,0,0.5);
}

#unit-frame-box.warcraft .unit-frame .primary .bar {
  position: relative;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  background: rgb(5,101,27);
  background: linear-gradient(0deg, rgba(5,101,27,1) 0%, rgba(0,199,47,1) 35%, rgba(5,101,27,1) 100%);  
}

#unit-frame-box.warcraft .unit-frame .primaryValue {
  color: #fff;
  text-shadow: 1px 1px 4px #000;
  font-family: Roboto, Signika, sans-serif;
  font-size: 16px;
  letter-spacing: 2px; 
  width: 100%;
  text-align: center;
  position: absolute;
  top: 8px;
  z-index: 100; }

#unit-frame-box.warcraft .unit-frame .secondary {
  position: relative;
  width: 130px;
  height: 12px;
  top:-88px;
  left:76px;
  background-color: rgb(0,0,0,0.5);
}

#unit-frame-box.warcraft .unit-frame .secondary .bar {
  position: relative;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  background-color: rgb(9,9,121);
  background: linear-gradient(0deg, rgba(9,9,121,1) 0%, rgba(0,88,248,1) 35%, rgba(9,9,121,1) 100%);
    }
#unit-frame-box.warcraft .unit-frame .secondary .secondaryValue {
  color: #fff;
  text-shadow: 1px 1px 4px #000;
  font-family: Roboto, Signika, sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
  z-index: 100; }

#unit-frame-box.warcraft .unit-frame .charimage{
  position:relative;
  border-width: 0px;
  border-radius: 50%;
  top: -10px;
  height: 70px;
  width: 70px;
  z-index:98;
  background-color: rgb(0,0,0,0.5);
}

#unit-frame-box.warcraft .unit-frame .charframe{
  position:absolute;
  display:block;
  top: 0px;
  background-image: url(../icons/warcraft.webp);
  height:80px;
  width:210px;
  border-width: 0px;
  z-index:99;
} 
#unit-frame-box.warcraft .unit-frame .charlevel{
  position:relative;
  top: 57px;
  left: 2px;
  width:25px;
  color:#fff;
  text-align:center;
  z-index: 100;
}